body { margin: 0; padding: 0; }
h1 { font-size: 3em; margin: 0 0 0.4em 0; }

.container { width: 45%; display: inline-block; margin: 1em;
float: left; }
#introduction { border: 1px solid black; padding: 1em; }

#parents { padding: 0px; font-size: small; }
#parents li { float: left; display: inline; margin: -1em 1em 0 0; }

#children { clear: both; padding-top: 1em; }
#children td { padding: 0.5em; }

.image {text-align: center;}

#new-content input {display: block;}
#editMe {width: 450px; border: 1px solid #888; }
